{% extends "csi_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Question</h1>
<h1> {{ con.title }}</h1>
<h3>{{ con.ques }}</h3>
<h1>Answers given by your classmates:</h1>
{% for con in q_id %}
    <li>{{ con.upvotes }}:   {{ con.answer }}
        <form method="POST">    {% csrf_token %}
        {{ upvote_form.as_p }}
            <input type="submit" value='upvote' />
        </form>
    <p>Total Upvotes:{{ con.total_upvotes }}</p>
    </li>
{% endfor %}
<form method="POST">    {% csrf_token %}
    {{ ans_form.as_p }}
    <input type="submit" value='save!' />
    </form>
{% endblock %}