body {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
}

.login {
	box-sizing: border-box;
	width: 450px;
	height: 400px;
	margin: 140px;
	padding: 50px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	background-color: rgba(0,0,0,0.7);
	border-radius: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

.username,.password, label, button{
	width: 325px;
	padding: 5px;
	margin-top: 10px;
	border-radius: 10px;
}


a {
	margin-left: 65px;
	text-decoration: none;
	color: honeydew;
}

a:hover {
	text-decoration: underline;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    border-radius: 0.5em;
    /* box-shadow: 0 0.5em 0.5em -0.4em; */
    cursor: pointer;
}


